*.so
*.dylib
*.test
*.out
*.yaml
.*.sw?
.sw?
.DS_Store
*.retry
tmp*
*tmp
/vendor/
/db
*.orig
.idea
.vscode
tests/*/*/coverage/
.*vimrc
.*.go
/*.log
.*.yaml
/.release-it.json
/go.local.mod
/go.local.sum
/mitum-currency
/mc-blockfs
/mitum-data
/yml
/.vscode
*.sh
.golangci.excludes.txt
/blockdata
/env
/openapi
/sh
.envrc
/config.yml
/genesis.yml